.frame {
    background-color:#24d494;
    color:rgb(71, 67, 67);
    font-size:1.3rem;
    height:auto;
    width:50%;
    margin:3px auto;
    text-align:center;
    box-shadow:1px 1px 5px 1px black;
    padding:20px 0;
}
.dynamicimg{
    width:100px;
    height:100px;
    padding:0;
}
.frame h5{
    background-color:white;
    font-size:1.5rem;
    width:30%;
    margin:0 auto;
    text-align:center;
    padding:2px 0;
    border-radius:10px;
}
.frame h1{
    background-color:white;
    font-size:2rem;
    width:60%;
    margin:0 auto;
    text-align:center;
    padding:15px 0;
    border-radius:10px; 
}
@media only screen and (max-width:500px){
    .frame h5{

        font-size:1rem;
        width:80%;
    
    }
    .frame h1{
        font-size:1.5rem;
        width:95%;
        
    }
    .frame {
        width:80%;
       
    }
    .dynamicimg{
        width:80px;
        height:80px;
        padding:0;
    }
}